@using DxBlazorApp1.Components.Pages
@using static DxBlazorApp1.Components.Elements.ISystemFormRitiro
@using DxBlazorApp1.Components.Elements
@using static DxBlazorApp1.Components.Elements.ISystemFormField

<div class="field-group">
	
	@* @foreach (var field in Field)
	{
		<ISystemFormField
			Type="@field.Type"
			/>
	} *@

</div>

@code {

}