$primary: #ff5a1e;
$light-gray: #f5f5f0;
$gray: #C8C3B9;
$dark: #191919;

$mobile: 'max-width: 767px';
$no_mobile: 'min-width: 768px';
$tablet: 'min-width: 768px) and (max-width: 1023px';
$md: 'min-width: 992px';
$md-max: 'max-width: 991px';
$lg: 'min-width: 1024px';
$lg-xl: 'min-width: 1025px) and (max-width: 1199px';
$xl: 'min-width: 1200px';
$xxl: 'min-width: 1400px';
$xxxl: 'min-width: 1600px';
$wide: 'min-width: 1900px';

@mixin media-query($media) {
    @media screen and ($media) {
        @content;
    }
}

@import 'styles/typography.scss';
@import 'styles/icons.scss';
@import 'styles/components.scss';

/** Login Page **/
#loginPage {
    background-color: var(--dark);
    height: 100%;
    width: 100%;
    padding: 50px;

    @include media-query($mobile) {
        padding: 15px;
    }

    #logo {
        position: relative;
        z-index: 1;
    }

    .login-box {
        background-color: white;
        border-radius: 32px;
        width: 35vw;
        max-width: 390px;
        padding: 32px;
        //margin-left: 3%;
        //margin-top: 9%;
        margin-left: clamp(0px, 13vw, 4%);
        margin-top: clamp(0px, 6vh, 4%);
        position: relative;
        z-index: 1;

        @include media-query($mobile) {
            width: 92vw;
            max-width: 390px;
            padding: 32px;
            margin-left: 0;
        }

        @include media-query($tablet) {
            width: 55vw;
        }

        p {
            font-size: 1.1rem;
        }

        .dxbl-fl label {
            font-weight: 500 !important;
        }

        .dxbl-btn:not(.dxbl-btn-link) {
            padding: 12px 18px;
            font-weight: 600;
        }
    }

    .bg-photo {
        background: url('../images/login-bg-photo.png') no-repeat top right;
        background-size: contain;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 89vh;
        z-index: 0;
    }
}

header#main {
    position: sticky;
    top: 0;
    background: white;
    z-index: 99;

    #brand-image {
        padding: 20px 11px;

        .brand-image {
            width: 42px;
            height: auto;
        }
    }

    #ham {
        padding: 10px 20px;
        cursor: pointer;

        i {
            font-size: 28px;

            &.bi-list {
                display: block;
            }

            &.bi-x {
                display: none;
                font-size: 36px;
                margin-top: -8px;
                margin-left: -5px;
            }
        }

        &.open {
            i.bi-list {
                display: none !important;
            }

            i.bi-x {
                display: block !important;
            }
        }
    }

    .nav-buttons-container {
        background-color: white;
        justify-content: flex-end;
        padding-right: 45px !important;

        @include media-query($mobile) {
            padding-right: 17px !important;
        }

        .rounded-button {
            border: 1px solid #c8c3b9;
            background: white;
            font-family: var(--font-titles);
            padding: 8px 13px;
            height: 49px;
            font-size: clamp(13px, 0.7vw, 16px);
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active-notif {
                &::after {
                    content: "";
                    position: absolute;
                    top: 30%;
                    right: 34%;
                    width: 8px;
                    height: 7px;
                    background: var(--primary-color);
                    border-radius: 50%;
                }
            }
        }
    }

    #user-area {
        position: relative;

        .menu-button {
            cursor: pointer;
        }

        .user-image {
            border: 1px solid #c8c3b9;
            background: white;
            font-family: var(--font-titles);
            padding: 8px 14px;
            font-size: 21px;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #c8c3b9;
            cursor: pointer;
        }

        .user-info {
            font-family: var(--font-titles);
            line-height: 1.2;

            .email {
                font-weight: 500;
                font-size: clamp(14px,0.8vw,16px);
            }

            .company {
                font-size: clamp(12px,0.8vw, 14px);
                color: #c8c3b9;
            }
        }

        #user-dropdown-panel {
            position: absolute;
            width: 100%;
            border-radius: 0 0 8px 8px;
            background: white;
            box-shadow: rgba(0,0,0,0.01) 0 0 25px 10px;
            transition: all 0.5s ease;
            display: none;
            margin-top: 18px;
            max-width: 180px;
            right: 0;

            &.open {
                display: block;
            }
        }

        .dropdown-area .menu-button {
            padding: 12px 14px 16px !important;
            color: var(--dark);
            border-top: 1px solid var(--light-gray);
            width: 100%;
            border-radius: 0 !important;
            justify-content: flex-start;

            &:hover {
                background-color: var(--medium-gray);
            }

            span {
                text-decoration: none !important;
            }
        }
    }
}

#sidebar {
    background-color: white;
    width: 24rem;
    min-width: 17rem;
    position: sticky;
    top: 94px;
    overflow: auto;
    height: 100%;
    min-height: calc(100vh - 85px);
    transition: all 0.5s ease;

    @include media-query($mobile) {
        position: fixed;
        left: 0;
        z-index: 99;
        width: 100%;
        top: 70px;
        height: 100%;
        overflow-y: auto;
        border-top: 1px solid var(--light-gray);
    }

    &.auto-expanded {

        @include media-query($mobile) {
            left: -103vw;
        }

        @include media-query($no_mobile) {
            min-width: 4rem !important;
            max-width: 2rem !important;
        }

        .isystem-menu .li-wrap span,
        .isystem-menu .sub-menu-wrap {
            display: none;
        }
    }

    nav {
        padding: 7px 15px 0 !important;
    }
}

.main-menu,
.isystem-menu {
    list-style: none;
    padding: 0;
    font-family: var(--font-titles);

    .dxbl-expandable-container,
    .sub-menu-wrap {
        position: relative;

        &::before {
            height: calc(100% - 30px);
            display: block;
            width: 2px;
            background: $gray;
            content: "";
            position: absolute;
            left: 14px;
            margin-top: 16px;
        }
    }

    > li {
        &:hover,
        &.active {
            .li-wrap {
                background-color: var(--light-gray);
                border-radius: 8px;
            }
        }
    }

    li {
        margin-top: 1rem;
        position: relative;
        transition: all 0.4s ease;
        list-style: none;

        &:hover,
        &.active {
            /*background-color: transparent !important;*/

            > .dxbl-treeview-item-content {
                background-color: $light-gray;
                border-radius: 8px;
            }

            .icon-nav {
                &.icon-dashboard {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7.14373 18.7821V15.7152C7.14372 14.9381 7.77567 14.3067 8.55844 14.3018H11.4326C12.2189 14.3018 12.8563 14.9346 12.8563 15.7152V18.7732C12.8562 19.4473 13.404 19.9951 14.0829 20H16.0438C16.9596 20.0023 17.8388 19.6428 18.4872 19.0007C19.1356 18.3586 19.5 17.4868 19.5 16.5775V7.86585C19.5 7.13139 19.1721 6.43471 18.6046 5.9635L11.943 0.674268C10.7785 -0.250877 9.11537 -0.220992 7.98539 0.745384L1.46701 5.9635C0.872741 6.42082 0.517552 7.11956 0.5 7.86585V16.5686C0.5 18.4637 2.04738 20 3.95617 20H5.87229C6.19917 20.0023 6.51349 19.8751 6.74547 19.6464C6.97746 19.4178 7.10793 19.1067 7.10792 18.7821H7.14373Z' fill='%23ff5a1e'/%3E%3C/svg%3E");
                }

                &.icon-logistica {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath opacity='0.4' d='M14.6667 0H5.33333C1.92889 0 0 1.92889 0 5.33333V14.6667C0 18.0622 1.92 20 5.33333 20H14.6667C18.0711 20 20 18.0622 20 14.6667V5.33333C20 1.92889 18.0711 0 14.6667 0Z' fill='%23FF5A1E'/%3E%3Cpath d='M13.3205 10.7083H10.7495V13.257C10.7495 13.6673 10.4139 14 10 14C9.58605 14 9.25048 13.6673 9.25048 13.257V10.7083H6.67955C6.29342 10.6687 6 10.3461 6 9.96132C6 9.5765 6.29342 9.25394 6.67955 9.21431H9.24242V6.67365C9.28241 6.29088 9.60778 6 9.99597 6C10.3842 6 10.7095 6.29088 10.7495 6.67365V9.21431H13.3205C13.7066 9.25394 14 9.5765 14 9.96132C14 10.3461 13.7066 10.6687 13.3205 10.7083V10.7083Z' fill='%23FF5A1E'/%3E%3C/svg%3E");
                }

                &.icon-doc {
                    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.191 2H7.81C4.77 2 3 3.78 3 6.83V17.16C3 20.26 4.77 22 7.81 22H16.191C19.28 22 21 20.26 21 17.16V6.83C21 3.78 19.28 2 16.191 2Z' fill='%23FF5A1E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.07997 6.6499V6.6599C7.64897 6.6599 7.29997 7.0099 7.29997 7.4399C7.29997 7.8699 7.64897 8.2199 8.07997 8.2199H11.069C11.5 8.2199 11.85 7.8699 11.85 7.4289C11.85 6.9999 11.5 6.6499 11.069 6.6499H8.07997ZM15.92 12.7399H8.07997C7.64897 12.7399 7.29997 12.3899 7.29997 11.9599C7.29997 11.5299 7.64897 11.1789 8.07997 11.1789H15.92C16.35 11.1789 16.7 11.5299 16.7 11.9599C16.7 12.3899 16.35 12.7399 15.92 12.7399ZM15.92 17.3099H8.07996C7.77996 17.3499 7.48996 17.1999 7.32996 16.9499C7.16996 16.6899 7.16996 16.3599 7.32996 16.1099C7.48996 15.8499 7.77996 15.7099 8.07996 15.7399H15.92C16.319 15.7799 16.62 16.1199 16.62 16.5299C16.62 16.9289 16.319 17.2699 15.92 17.3099Z' fill='%23FF5A1E'/%3E%3C/svg%3E");
                }
            }
        }

        &:last-child {
            @include media-query($mobile) {
                margin-bottom: 15%;
            }
        }

        .li-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            a {
                display: flex;
                align-items: center;
            }

            i {
                margin-right: 8px;
            }
        }

        a:any-link {
            color: var(--dark);
            text-decoration: none;
            font-weight: 500;
            font-size: 1rem;

            &.no-group {
                padding: 3px 0;
            }

            &:hover::before {
                background-color: transparent !important;
                opacity: 0;
            }
        }

        button {
            border: 0;
            background: transparent;

            svg {
                fill: $gray;
            }
        }

        .dxbl-treeview-item-content {
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 0;
            min-height: 37px;

            .dxbl-treeview-item-text-container {
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                }

                span {
                    font-weight: 500;
                }
            }
        }

        .sub-menu-wrap {
            /*transition: all 0.4s ease-in-out;*/

            &:not(.show) {
                height: 0;
                opacity: 0;
                pointer-events: none;
            }
        }

        ul {

            li {
                padding: 3px 0 3px 5px;
                margin-top: 5px;

                &:hover,
                &.active {
                    background-color: $light-gray;
                    border-radius: 8px;

                    &::before {
                        content: "";
                        width: 8px;
                        height: 8px;
                        background: var(--primary-color);
                        display: block;
                        position: absolute;
                        top: 40%;
                        left: -21px;
                        border-radius: 50%;
                    }

                    a {
                        &:hover::before {
                            background-color: transparent !important;
                            opacity: 0;
                        }
                    }
                }

                .dxbl-treeview-item-content {
                    padding-bottom: 0;
                }
            }
        }

        .action-submenu {
            cursor: pointer;
            z-index: 0;
            pointer-events: none;
        }

        button.dxbl-disabled,
        .disabled {
            display: none;
        }
    }
}

.main-content {
    background-color: var(--light-gray);
    border-top-left-radius: 40px;
    padding: 3% 4%;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    @include media-query($mobile) {
        padding: 5%;
        border-top-left-radius: 0;
        height: 100%;
        overflow: hidden;
    }

    @include media-query($no_mobile) {
        min-height: calc(100vh - 85px);
    }

    .col-xl-2 {
        @include media-query($xl) {
            width: 20% !important;
        }
    }

    .col-xl-4 {
        @include media-query($xl) {
            width: 40% !important;
        }
    }

    .col-xl-8 {
        @include media-query($xl) {
            width: 60% !important;
        }
    }

    .col-xl-10 {
        @include media-query($xl) {
            width: 80% !important;
        }
    }

    .gutter-lg-max {
        @include media-query($md-max) {
            margin-bottom: var(--bs-gutter-x);
        }
    }
}


.isys-alert {
    z-index: 0;
    background: #FFE5E5;
    border-radius: 12px;
    margin-bottom: -20px;
    padding: 10px 13px 31px 13px;

    span {
        color: #FF3535 !important;
        font-family: var(--font-text);

        &::before {
            content: "!";
            margin: 0 7px;
            font-size: 11px;
            color: white;
            background: #FF3535;
            border-radius: 50%;
            width: 5px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 5px;
            padding: 7px;
            font-weight: 500;
        }
    }
}

#assistenza {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
}

#offcanvas-notifications {
    position: fixed;
    top: 90px;
    right: 0;
    background: white;
    padding: 20px;
    overflow: auto;
    width: 320px;
    box-shadow: rgba(0,0,0,0.01) 0 0 25px 10px;
    transition: all 0.5s ease;
    z-index: -1;

    &.open-False {
        right: -105%;
    }

    hr {
        margin: 2rem 0 3rem;
        color: var(--font-color);
    }

    .note-type {
        h3 {
            font-size: clamp(18px,1.7vw,20px);
            font-weight: 600;
        }

        .note-header {
            font-size: 13px;
            padding: 6px 0 18px;

            span {
                color: var(--font-color);
            }
        }

        .notification-item {
            padding: 10px;
            border-radius: 15px;
            border: 1px solid var(--light-gray);
            color: var(--font-color);
            margin-bottom: 5px;
            font-size: clamp(13px, 0.6vw, 16px);
            font-family: var(--font-titles);

            a:any-link {
                color: var(--dark);
                text-decoration: none;
                font-weight: 600;
            }

            .notification-item-header {
                display: flex;
                justify-content: space-between;

                span {
                    color: var(--font-color);
                    font-size: 12px;
                }
            }

            .notification-item-body {
                ul, li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                span {
                    color: var(--dark) !important;
                }
            }
        }
    }
}

/** mobile **/
.offcanvas.offcanvas-data {
    width: 100vw;
    left: 100vw;
    top: 70px;
    height: 100vh !important;
    position: fixed;
    background: var(--light-gray);
    padding: 4%;
    visibility: visible;
    transition: all 0.5s ease;

    &.open {
        left: 0;
    }
}