$mobile: 'max-width: 767px';
$no_mobile: 'min-width: 768px';
$tablet: 'min-width: 768px) and (max-width: 1023px';
$md: 'min-width: 992px';
$md-max: 'max-width: 991px';
$md-xl: 'min-width: 768px) and (max-width: 1199px';
$lg: 'min-width: 1024px';
$lg-xl: 'min-width: 1025px) and (max-width: 1199px';
$xl: 'min-width: 1200px';
$xxl: 'min-width: 1400px';
$xxl-wide: 'min-width: 1401px) and (max-width: 1919px';
$xxxl: 'min-width: 1600px';
$wide: 'min-width: 1920px';

@mixin media-query($media) {
    @media screen and ($media) {
        @content;
    }
}

/** Override stile bottoni **/

.isys-button {
    &[render-style="Tab"] {
        $color-ico: "%236C757D";
        --color-span: var(--dark);
        background-color: white;
        border: 0;
        padding: 15px 25px 17px;
        display: flex;
        align-items: center;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        margin-right: 1px;
        /*margin-bottom: -22px;*/ // vedi sotto .grid-top-panel

        &.active {
            --color-span: var(--primary-color);

            span {
                &::before {
                    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_209_79636)'%3E%3Cpath d='M9 4V6H7V4H9Z' fill='%23ff5a1e'/%3E%3Cpath d='M9 12V7H7V12H9Z' fill='%23ff5a1e'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z' fill='%23ff5a1e'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_209_79636'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
                }
            }
        }

        &.icon-info {
            span {
                &::before {
                    margin: 4px 8px 0 0;
                    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_209_79636)'%3E%3Cpath d='M9 4V6H7V4H9Z' fill='#{$color-ico}'/%3E%3Cpath d='M9 12V7H7V12H9Z' fill='#{$color-ico}'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z' fill='#{$color-ico}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_209_79636'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                }
            }
        }

        span {
            color: var(--color-span);
            display: flex;
            align-items: center;
        }
    }

    &[render-style="Secondary"] {
        border: 1px solid var(--light-gray);
        background: white;
        font-family: var(--font-titles);
        padding: 6px 8px;

        &.active,
        &:hover {
            background: var(--primary-color);
            color: white;
        }
    }
}

.dxbl-btn {
    border-radius: 30px;
    padding: 8px 18px;

    &.btn-with-chevron span {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            margin: 4px 0 0 7px;
        }
    }

    &.--primary {
        &:not(.dxbl-btn-link) {
            span {
                color: white;
            }
        }

        &.dxbl-btn-link {
            span {
                color: var(--primary-color);
            }
        }
    }
}

/** Chart mensile **/
.dxc-val-grid path,
.dxc-val-line path,
.dxc-arg-line path {
    display: none;
}

.dxc-arg-elements text {
    transform: translateY(20px), rotate(0deg);
    font-family: var(--font-titles) !important;
    font-weight: 500 !important;
}

/** Form **/

.dxbl-tabs {
    --dxbl-tabs-tab-border-color: var(--light-gray) !important;

    > .dxbl-tabs-tablist {
        background-color: transparent;

        li {
            margin-right: 1px;

            > div {
                --color-span: var(--dark);
                background-color: white !important;
                border: 0 !important;
                padding: 15px 25px 17px !important;
                border-top-left-radius: 16px !important;
                border-top-right-radius: 16px !important;
                border-bottom: 1px solid var(--light-gray) !important;

                &.dxbl-active {
                    background: white !important;
                    border: 0 !important;
                }

                &:hover::before {
                    background-color: var(--medium-gray) !important;
                    opacity: 100% !important;
                }
            }
        }
    }
}

.dxbl-tabs-tablist {
    border: 0 !important;
}

.tabs-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;

    &-info {
        mask-image: url("../../images/info.svg");
        -webkit-mask-image: url(../../images/info.svg);
    }

    &-home {
        mask-image: url("../../images/Home.svg");
        -webkit-mask-image: url(../../images/Home.svg);
    }

    &-support {
        mask-image: url("../../images/doc.svg");
        -webkit-mask-image: url(../../images/doc.svg);
    }
}

.tabs-page {
    background-color: white;
    padding: 10px 0 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

    .tabs-icon {
        opacity: 0.7;
    }

    .grid-top-panel {
        .isys-button {
            &[render-style="Tab"] {
                margin-bottom: -22px;

                &.active {
                    padding-bottom: 23px;
                    margin-bottom: -33px;
                    padding-top: 13px;
                }
            }
        }

        ul li {
            &:first-child {
                .isys-button {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }

            &:last-child {
                .isys-button {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }

    .data-wrap.flex {
        background: white;
        border-radius: 12px;
        padding: 25px 40px 10px;
        margin: 25px -11px 50px;
        justify-content: space-between;

        .data {
            flex: 1;

            &:last-child p {
                border-left: 1px solid var(--primary-color);
                padding-left: 40%;
            }

            p {
                display: flex;
                flex-direction: column;
                color: var(--dark);
                line-height: 1.2;

                span.data-value {
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }
        }
    }

    .fields-group-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background: white;
        padding: 2px 2px 22px;
        border-radius: 12px;
        margin-bottom: 10px;
        justify-content: space-between;
        z-index: 1;

        @include media-query($md-xl) {
            flex-direction: column;
            justify-content: flex-start;
        }

        .icon-wrap {
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: var(--light-gray);
            min-width: 130px;
            padding: 0 15px 11px;
            border-radius: 15px;
            margin-top: 10px;
            margin-left: 10px;

            @include media-query($md-xl) {
                width: 23%;
                flex-basis: 70%;
            }
        }

        .dxbl-col {
            @include media-query($md-xl) {
                flex-basis: 34%;
                width: 70%;
            }
        }
    }

    .dxbl-fl {
        font-family: var(--font-titles);

        .label-xl {
            label {
                font-size: 1.3rem !important;
                line-height: 1;
                padding-top: 10px;
            }
        }

        label {
            font-weight: 600 !important;
            font-size: 1rem;
        }

        span:not(.dxbl-btn-caption) {
            color: var(--font-color);
        }

        .dxbl-text-edit {
            border-radius: 4px !important;
            border-color: var(--light-gray);
            padding: 4px 9px;
        }

        .range-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;

            input {
                flex-basis: 75%;
            }

            .var-data {
                border: 1px solid var(--light-gray);
                border-radius: 4px;
                padding: 5px 15px;
                flex-basis: 35%;

                @include media-query($tablet) {
                    flex-basis: 22%;
                }

                @include media-query($xxl-wide) {
                    flex-basis: 26%;
                }

                @include media-query($wide) {
                    flex-basis: 22%;
                }

                &.on {
                    color: var(--dark);
                }
            }
        }
    }


    input[type="range"]::-webkit-slider-runnable-track {
        background: var(--light-gray);
        height: 0.5rem;
        border-radius: 4px;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;

        &::-moz-range-track {
            background: var(--light-gray);
            height: 0.5rem;
            border-radius: 4px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -8px; /* Centers thumb on the track */
            background-color: white;
            border: 5px solid var(--primary-color);
            height: 23px;
            width: 23px;
            border-radius: 50%;
        }

        &::-moz-range-thumb {
            background-color: white;
            border: 5px solid var(--primary-color);
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
    }

    dxbl-combo-box {
        padding: 0 0 0 10px !important;
    }

    .dxbl-btn.dxbl-btn-outline-secondary.dxbl-edit-btn-dropdown:hover::before {
        background: transparent !important;
    }

    .dxbl-text-edit {
        --dxbl-text-edit-focus-shadow-color: rgba(var(--rgb-primary-color), 40%) !important;

        &.isys-search-box {
            border: 0 !important;
            border-radius: 4px !important;
            font-family: var(--font-titles);
            color: #333;

            input::placeholder {
                color: var(--font-color);
            }
        }
    }

    ul.filter-form {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
    }
    /** tabelle **/

    .dxbl-grid {
        border-color: white;
        border-radius: 12px !important;
        font-family: var(--font-titles);
        color: #46413c;

        .dxbl-grid-header-row {
            th {
                border-width: 0 !important;
                padding: 20px !important;

                &::before {
                    background-color: transparent !important;
                }

                .dxbl-grid-header-content span {
                    font-size: 16px;
                    color: #46413c;
                }
            }
        }

        td {
            border-width: 0 !important;
            padding: 15px 20px !important;
            font-size: 14px !important;

            &:not(.dxbl-grid-empty-data-area) {
                text-align: left !important;
            }
        }

        tbody tr {
            &:nth-child(even) {
                background-color: #fafaf7;
            }
        }

        .dxbl-grid-selected-row {
            background-color: var(--light-gray) !important;
        }

        .dxbl-pager-active-page-btn span {
            color: white !important;
        }

        .dxbl-grid-bottom-panel.dxbl-pager-container {
            border-top: 0;
            padding: 20px 20px 24px;
            justify-content: center;
            background: white;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        .dxbl-grid-filter-row {
            background-color: var(--medium-gray) !important;

            td {
                padding: 0 20px !important;
            }

            .dxbl-text-edit {
                border: 0;
                display: flex;
                align-items: center;
            }

            .dxbl-spin-btn-inc,
            .dxbl-spin-btn-dec {
                padding-right: 5px;
            }

            .dxbl-edit-btn-clear {
                padding: 0 !important;
            }
        }

        .dxbl-btn-outline-secondary {
            height: 29px;
            border-radius: 0 !important;

            &.dxbl-pager-page-btn {
                padding: 11px;
            }
        }

        .dxbl-grid-highlighted-text {
            background-color: var(--primary-color) !important;
            color: white !important;
        }
    }