@inject IJSRuntime JsRuntime

<div class="isys-ai-content" data-ai="@AiText" data-ai-result="@Result">
	@ChildContent
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var aiContent = document.querySelector(".isys-ai-content");
		var aiText = aiContent.getAttribute("data-ai");
		var aiResult = aiContent.getAttribute("data-ai-result");
		var label = aiContent.querySelector("label");

		label.classList.add(aiResult);
		label.setAttribute("data-ai", aiText);
	});
</script>

@code {
	/// <summary>
	/// Contenitore per campi form che interagiscono con l'AI. Aggiunge l'etichetta per l'AI e i risultati dopo la label del campo child.
	/// </summary>

	[Parameter] public required RenderFragment ChildContent { get; set; }
	[Parameter] public string AiText { get; set; }
	[Parameter] public string Result { get; set; } // ["Low", "Medium", "High"];
}
