@rendermode InteractiveServer

<div id="offcanvas-notifications" class="open-@IsNotificationsOpen">
    <div class="container">
        <div class="note-type">
            <h3>Richieste da confermare</h3>
            <div class="note-header d-flex justify-content-between">
                <span>Le prime 3</span>
                <a href="#">Vedile tutte</a>
            </div>

            <div class="notification-item">
                <div class="notification-item-header">
                    <a href="#">Richiesta 22220036 <i class="icon-arrow-oblique-primary"></i></a>
                    <span>16/10/2024</span>
                </div>
                <div class="notification-item-body">
                    <ul>
                        <li>Quantità richiesta: <span>4,100 kg</span></li>
                    </ul>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-item-header">
                    <a href="#">Richiesta 22220036 <i class="icon-arrow-oblique-primary"></i></a>
                    <span>16/10/2024</span>
                </div>
                <div class="notification-item-body">
                    <ul>
                        <li>Quantità richiesta: <span>4,100 kg</span></li>
                    </ul>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-item-header">
                    <a href="#">Richiesta 22220036 <i class="icon-arrow-oblique-primary"></i></a>
                    <span>16/10/2024</span>
                </div>
                <div class="notification-item-body">
                    <ul>
                        <li>Quantità richiesta: <span>4,100 kg</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr />

        <div class="note-type">
            <h3>Richieste da eseguire</h3>
            <div class="note-header d-flex justify-content-between">
                <span>Le prime 5</span>
                <a href="#">Vedile tutte</a>
            </div>

            <div class="notification-item">
                <div class="notification-item-header">
                    <a href="#">Richiesta 22220036 <i class="icon-arrow-oblique-primary"></i></a>
                    <span>16/10/2024</span>
                </div>
                <div class="notification-item-body">
                    <ul>
                        <li>Quantità richiesta: <span>4,100 kg</span></li>
                        <li>Data prevista: <span>27/05/2025</span></li>
                    </ul>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-item-header">
                    <a href="#">Richiesta 22220036 <i class="icon-arrow-oblique-primary"></i></a>
                    <span>16/10/2024</span>
                </div>
                <div class="notification-item-body">
                    <ul>
                        <li>Quantità richiesta: <span>4,100 kg</span></li>
                        <li>Data prevista: <span>27/05/2025</span></li>
                    </ul>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-item-header">
                    <a href="#">Richiesta 22220036 <i class="icon-arrow-oblique-primary"></i></a>
                    <span>16/10/2024</span>
                </div>
                <div class="notification-item-body">
                    <ul>
                        <li>Quantità richiesta: <span>4,100 kg</span></li>
                        <li>Data prevista: <span>27/05/2025</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>