<div class="isys-ai-content dxbl-text @Result">
    <label>@Label</label>
    <span>@AiText</span>
</div>

@code {
    /// <summary>
    /// Contenitore per campi form che interagiscono con l'AI. Aggiunge l'etichetta per l'AI e i risultati dopo la label.
    /// </summary>

    [Parameter] public required string Label { get; set; } 
    [Parameter] public string AiText { get; set; } 
    [Parameter] public string Result { get; set; }  // ["Low", "Medium", "High"]
}
