@page "/Account/login"
@layout LoginLayout
@inject NavigationManager NavManager
@rendermode InteractiveServer

<div id="loginPage">

    <div id="logo">
        <img src="images/logo-iSystem-white@2x.png" alt="iSystem" class="brand-image" width="63" height="80" />
    </div>

    <div class="login-box">
        <h1>Accedi ad iSystem</h1>

        <p>Gestisci in pochi click le tue richieste.</p>

        <DxFormLayout CaptionPosition="CaptionPosition.Vertical" CssClass="w-100">
            <DxFormLayoutItem Caption="Email" ColSpanMd="12" CssClass="mt-5 mb-3">
                <DxTextBox @bind-Text="email" NullText="Inserisci la tua mail" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Password" ColSpanMd="12" CssClass="mb-3">
                <DxTextBox @bind-Text="password" NullText="Inserisci la tua password" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12" CssClass="mb-3">
                <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Accedi" Click="Accedi" CssClass="w-100" />
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12">
                <DxButton RenderStyle="ButtonRenderStyle.Link" Text="Hai dimenticato la password?" CssClass="w-100 --primary" />
            </DxFormLayoutItem>
        </DxFormLayout>
    </div>

    <div id="login-old-site" class="flex flex-wrap justify-content-between">
        <div>
            <h2>Non appartieni alla filiera EPR?</h2>
            <a href="https://www.innovandosystem.com/" target="_blank" class="btn btn-old">Accedi qui alla tua piattaforma</a>
        </div>
    </div>

    <div class="bg-photo"></div> 
    <div id="slider">
        <div id="img_slider">
            <img src="/images/sfondo-login1.png">
            <img src="/images/sfondo-login2.png">
            <img src="/images/sfondo-login3.png">
            <img src="/images/sfondo-login4.png">
        </div>
    </div>

    <script>
        var bgphoto = document.querySelector(".bg-photo");
        var slider = document.querySelector("#img_slider");
        var img_in_slider = slider.querySelectorAll("img");
        var n_img = img_in_slider.length;
        var corrente = 0;

        function play() {
            bgphoto.classList.add("fade");
            corrente++;
            if (corrente > n_img)  corrente = 1;

            for (var i = n_img; i > 0; i--) {
                slider.querySelector("img:nth-child(" + i + ")").classList.remove("fade");
            }
            slider.querySelector("img:nth-child(" + corrente + ")").classList.add("fade");
        }

        setInterval(play, 8000);
    </script>

</div>

<DxPopup @bind-Visible="@PopupVisible"
         HeaderText="Errore"
         BodyText="Username o password errati, riprova."
         ShowFooter="true">
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="OK"
                  Click="@context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>

@code
{
    private string email;
    private string password;
    bool PopupVisible { get; set; } = false;

    private void OpenPopoup()
    {
        PopupVisible = true;
    }

    private void Accedi()
    {
        if (email == "admin" && password == "admin")
        {
            NavManager.NavigateTo("/");
        }
        else
        {
            OpenPopoup();
        }
    }
}