::deep .welcome-gridlayout {
    margin: 5%;
    width: auto;
    height: auto;
}

    ::deep .welcome-gridlayout .dxbl-gridlayout-root {
        align-content: center;
        justify-content: center;
    }

