@page "/richiesta-ritiro"

<PageTitle>Richiesta di ritiro</PageTitle>

<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall" @bind-IsActive="@isXSmallScreen" />

@if (isXSmallScreen)
{
    <div class="title-wrap">
        <h1>Richiesta di ritiro 🚚</h1>
        <button class="offcanvas-open" onclick="document.querySelector('.offcanvas-data').classList.toggle('open')">Vedi dettagli</button>
    </div>

    <div class="offcanvas offcanvas-data">

        <button class="offcanvas-close" onclick="document.querySelector('.offcanvas-data').classList.toggle('open')">Indietro</button>

        <div class="offcanvas-body">
            <ISysKeyValueCard Valori="@Datas"></ISysKeyValueCard>
        </div>

    </div>

}
else
{
    <h1>Richiesta di ritiro 🚚</h1>
    <ISysKeyValueCard Valori="@Datas"></ISysKeyValueCard>
    }

<ISystemFormRitiro />

@code {
    public bool isXSmallScreen { get; set; }

    public IEnumerable<KeyValuePair<string, string>> Datas { get; set; }

    protected override void OnInitialized()
    {
        Datas =
        [
            new KeyValuePair<string, string>("Ragione sociale", "Gommista di Test"),
            new KeyValuePair<string, string>("P.IVA", "123456789"),
            new KeyValuePair<string, string>("Codice Fiscale", "123456890sectyu"),
            new KeyValuePair<string, string>("Codice", "532142")
        ];
    }

    public class Data
    {
        public string Label { get; set; }
        public string Value { get; set; }
    }
}