@page "/mail-ritiro"
@layout LoginLayout

<div id="email-template">
	<div class="container">
		<div class="container-small">
			<div class="header-mail">
				<div class="logo">
					<img src="/images/logo-iSystem@2x.png" alt="">
				</div>
				<div class="titolo-mail">
					<h1>Richiesta di ritiro effettuata</h1>
				</div>
			</div>

			<div class="container-messaggio">
				<div class="messaggio">
					<p>
						Spett.le <span>Gommista di Test</span>,
						<br>
						<br>
						Le comunichiamo che in data <span>25/07/2024</span> L'azienda <span>Autotrasporti Chiarcosso s.r.l.</span> ha confermato la presa in carico della richiesta di ritiro <span class="important-small">n° pfu202407251036384</span>.
					</p>
					
					<hr class="hr-messaggio">

					<ul class="dati-ordine">
						<li>
							Intermediario <br />
							<span>Innovando srl</span>
						</li>
						<li>
							Ritiro presso <br />
							<span>Gommista di test</span>
						</li>
						<li>
							Indirizzo <br />
							<span>Battaglia Terme Viale la pace Padova</span>
						</li>
					</ul>

					<!-- blocco data prevista -->
					<div class="data-prevista">
						<div>
							<p>Data Prevista di ritiro:</p>
							<span class="important-big">26/07/2024</span>
						</div>
					</div>

					<!-- blocco articoli -->
					<div class="articoli">
						<p>Articoli da ritirare</p>

						<table class="dati-articoli">
							<tr>
								<td class="titolo-articolo"><span>pneumatici fuori uso grandi</span></td>
								<td><span class="important-small">6100</span></td>
								<td><span>circa 5 pezzi</span></td>
							</tr>
							<tr>
								<td class="titolo-articolo"><span>pneumatici fuori uso medi</span></td>
								<td><span class="important-small">3550</span></td>
								<td><span>circa 5 pezzi</span></td>
							</tr>
							<tr>
								<td class="titolo-articolo"><span>pneumatici fuori uso piccoli</span></td>
								<td><span class="important-small">1550</span></td>
								<td><span>circa 5 pezzi</span></td>
							</tr>
						</table>
					</div>

					<!-- blocco note trasportatore -->
					<div class="note-trasportatore">
						<p>Note indicate al trasportatore: <span>ORARI 9/12</span></p>
					</div>
				</div>
			</div>

			<div class="footer-mail">
				<div class="logo">
					<img src="/images/logo-iSystem@2x.png" alt="">
				</div>
				<div class="messaggio-footer">
					<br>
					<p>
						La presente mail è stata generata automaticamente;
						<br>
						si chiede pertanto di non rispondere al messaggio
					</p>
					<br>
					<br>
					<p>In caso di segnalazioni scrivere a <a class="important-small" href="mailto:assistenza@innovandosystem.com">assistenza@innovandosystem.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>